[Desktop Entry]
Name=engimatic
GenericName=engimatic
Comment=View additional metadata for files
Categories=Utility;
Exec=com.github.hezral.engimatic
Icon=com.github.hezral.engimatic
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.hezral.engimatic
Keywords=Python;
