[Desktop Entry]
Name=enigmatic
GenericName=enigmatic
Comment=View additional metadata for files
Categories=Utility;
Exec=com.github.hezral.enigmatic
Icon=com.github.hezral.enigmatic
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.hezral.enigmatic
Keywords=Python;
